body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.first-section {
    width: 100%;
    height: 900px;
    background-image: linear-gradient(120deg, #121212 0%, rgba(18, 18, 18, 0) 100%), url(images/cow-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
}

.donate-now {
    color: white;
    width: 30%;
    padding-top: 200px;
    padding-left: 280px;
}

.donate-now h1 {
    font-size: 65px;
}

.donate-now p {
    margin-bottom: 60px;
    font-size: 25px;
}

.btn {
    text-decoration: none;
    color: white;
    background-color: #EF233C;
    padding: 20px 35px;
    border-radius: 5px;
    font-size: 25px;
}

.second-section {
    display: flex;
    width: 100%;
    height: 700px;
}

.second-section h1 {
    font-size: 52px;
}

.second-section p {
    margin-bottom: 70px;
    color: gray;
    font-size: 25px;
}

.second-section img {
    width: 90%;
    border-radius: 15px;
}

.second-section .half1 {
    width: 40%;
    margin-left: 15%;
    margin-right: 2%;
}

.second-section .half2 {
    width: 40%;
    margin-right: 15%;
    margin-left: 2%;
}