body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.first-section {
    width: 100%;
    height: 900px;
    background-image: linear-gradient(120deg, #121212 0%, rgba(18, 18, 18, 0) 100%), url(images/cow-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.donate-now {
    color: white;
    width: 30%;
    padding-top: 200px;
    padding-left: 280px;
}

.donate-now h1 {
    font-size: 65px;
}

.donate-now p {
    margin-bottom: 60px;
}

.btn {
    text-decoration: none;
    color: white;
    background-color: #EF233C;
    padding: 20px 35px;
    border-radius: 5px;
    font-size: 25px;
}