body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.first-section {
    width: 100%;
    height: 900px;
    background-image: linear-gradient(120deg, #121212 0%, rgba(18, 18, 18, 0) 100%), url(images/cow-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 100px;
}

.donate-now {
    color: white;
    width: 30%;
    padding-top: 200px;
    padding-left: 280px;
}

.donate-now h1 {
    font-size: 65px;
}

.donate-now p {
    margin-bottom: 60px;
    font-size: 25px;
}

.btn {
    text-decoration: none;
    color: white;
    background-color: #EF233C;
    padding: 20px 35px;
    border-radius: 5px;
    font-size: 25px;
}

.second-section {
    display: flex;
    width: 100%;
    height: 700px;
}

.second-section h1 {
    font-size: 52px;
}

.second-section p {
    margin-bottom: 70px;
    color: gray;
    font-size: 25px;
}

.second-section img {
    width: 90%;
    border-radius: 15px;
}

.half1 {
    width: 40%;
    margin-left: 15%;
    margin-right: 2%;
}

.half2 {
    width: 40%;
    margin-right: 15%;
    margin-left: 2%;
}

.third-section {
    display: flex;
    margin-bottom: 100px;
}

.third-section img {
    width: 90%;
    border-radius: 15px;
}

.third-section h1 {
    font-size: 52px;
}

.third-section p {
    margin-bottom: 70px;
    color: gray;
    font-size: 25px;
}

.fourth-section {
    width: 100%;
    margin-top: 150px;
    margin-bottom: 100px;
}

.fourth-section .text {
    text-align: center;
}

.fourth-section .text h1 {
    font-size: 55px;
}

.fourth-section .text p {
    color: gray;
    font-size: 25px;
}

.flex {
    display: flex;
    margin: 18px;
}

.icon img {
    width: 80px;
    height: 80px;
    padding-right: 10px;
}

.direct-help h1 {
    font-size: 25px;
}

.direct-help p {
    font-size: 20px;
    color: grey;
}

#one {
    width: 30%;
    margin-left: 19%;
    background-color: #FEF4F5;
    border-radius: 10px;
    padding: 20px;
}

#two {
    width: 30%;
    margin-left: 2%;
    background-color: #FEF4F5;
    border-radius: 10px;
    padding: 20px;
}

.fifth-section {
    width: 100%;
    margin-bottom: 100px;
}

.fifth-section img {
    width: 95%;
    border-radius: 15px;
}


#three {
    margin-left: 170px;
}

#four {
    margin-left: 0px;
}

#five {
    margin-right: 170px;
}